# *** INTRODUCTION TO SEABORN ***

In [24]:
import pandas as pd
import os
os.getcwd()
os.chdir('/Users/laythal-shblawi/Desktop/Python DS Udemy/dataFrames')

# IMPORTING THE FULL DATA FRAMES

In [46]:
stats = pd.read_csv('Demographic-Data.csv')

In [98]:
#RENAMING COLUMS OF A DATA FRAME TO BE CONSISTENT

stats.columns = ['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup']

stats.head(4)

   CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
0        Aruba         ABW     10.244           78.9          High income
1  Afghanistan         AFG     35.253            5.9           Low income
2       Angola         AGO     45.985           19.1  Upper middle income
3      Albania         ALB     12.877           57.2  Upper middle income

# IMPORT SEABORN

In [104]:
import matplotlib.pyplot as plt
plt.rcParams['figure.figsize'] = (8,4)
import seaborn as sns
%matplotlib inline

# Distribution:

In [110]:
vis1 = sns.displot(data = stats , x = 'InternetUsers', bins = 30)

SyntaxError: invalid syntax (639220946.py, line 1)

# Boxplots: