# Movie Rating Data manipulation

In [43]:
#Importing the necessary libraries

import pandas as pd
import os

os.getcwd()

'/Users/laythal-shblawi/Desktop/Python DS Udemy/advancedVisualization'

In [44]:
# Read the dataset

movies = pd.read_csv('Movie-Ratings.csv')
movies.head()

,Film,Genre,Rotten Tomatoes Ratings %,Audience Ratings %,Budget (million $),Year of release
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [45]:
# View the dataset shape
movies.shape

(559, 6)

In [46]:
# Fixing the dataset columns name to be consistence
movies.columns = ['Film', 'Genre','CriticRating', 'AudienceRatings'\
              ,'BudgetMillions','Year']
movies.head()

,Film,Genre,CriticRating,AudienceRatings,BudgetMillions,Year
0,(500) Days of Summer,Comedy,87,81,8,2009
1,"10,000 B.C.",Adventure,9,44,105,2008
2,12 Rounds,Action,30,52,20,2009
3,127 Hours,Adventure,93,84,18,2010
4,17 Again,Comedy,55,70,20,2009

In [47]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Film             559 non-null    object
 1   Genre            559 non-null    object
 2   CriticRating     559 non-null    int64
 3   AudienceRatings  559 non-null    int64
 4   BudgetMillions   559 non-null    int64
 5   Year             559 non-null    int64
dtypes: int64(4), object(2)
memory usage: 26.3+ KB

In [48]:
movies.describe()

       CriticRating  AudienceRatings  BudgetMillions         Year
count    559.000000       559.000000      559.000000   559.000000
mean      47.309481        58.744186       50.236136  2009.152057
std       26.413091        16.826887       48.731817     1.362632
min        0.000000         0.000000        0.000000  2007.000000
25%       25.000000        47.000000       20.000000  2008.000000
50%       46.000000        58.000000       35.000000  2009.000000
75%       70.000000        72.000000       65.000000  2010.000000
max       97.000000        96.000000      300.000000  2011.000000

In [49]:
#Changing the dtype for columns

movies.Film = movies.Film.astype('category')
movies.Genre = movies.Genre.astype('category')
movies.Year = movies.Year.astype('category')

In [50]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 559 entries, 0 to 558
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Film             559 non-null    category
 1   Genre            559 non-null    category
 2   CriticRating     559 non-null    int64
 3   AudienceRatings  559 non-null    int64
 4   BudgetMillions   559 non-null    int64
 5   Year             559 non-null    category
dtypes: category(3), int64(3)
memory usage: 36.5 KB

In [64]:
pd.value_counts('Action')

Action    6
dtype: int64

In [85]:
movies.Genre.cat.categories

Index(['Action', 'Adventure', 'Comedy', 'Drama', 'Horror', 'Romance',
       'Thriller'],
      dtype='object')