# *** BASIC OPERATION WITH DATA FARME***

In [16]:
import pandas as pd
import os
os.getcwd()
os.chdir('/Users/laythal-shblawi/Desktop/Python DS Udemy/dataFrames')

# IMPORTING THE FULL DATA FRAMES

In [17]:
stats = pd.read_csv('Demographic-Data.csv')

In [18]:
#RENAMING COLUMS OF A DATA FRAME TO BE CONSISTENT

stats.columns = ['CountryName', 'CountryCode', 'BirthRate', 'InternetUsers',
       'IncomeGroup']

stats.head(4)

   CountryName CountryCode  BirthRate  InternetUsers          IncomeGroup
0        Aruba         ABW     10.244           78.9          High income
1  Afghanistan         AFG     35.253            5.9           Low income
2       Angola         AGO     45.985           19.1  Upper middle income
3      Albania         ALB     12.877           57.2  Upper middle income

# MATHMETICAL OPERATIONS:

In [19]:
#ADDITION
results1 = stats.BirthRate + stats.InternetUsers
results1

0      89.144
1      41.153
2      65.085
3      70.077
4      99.044
        ...
190    52.947
191    67.350
192    44.594
193    55.871
194    54.215
Length: 195, dtype: float64

In [20]:
#SUBTRACTION
results2 = stats.BirthRate - stats.InternetUsers
results2

0     -68.656
1      29.353
2      26.885
3     -44.323
4     -76.956
        ...
190    12.947
191   -25.650
192    40.194
193    25.071
194    17.215
Length: 195, dtype: float64

In [21]:
#MULTIPLICATION
results3 = stats.BirthRate * stats.InternetUsers
results3.head()

0    808.2516
1    207.9927
2    878.3135
3    736.5644
4    971.8720
dtype: float64

In [22]:
#DIVITION
results4 = stats.BirthRate / stats.InternetUsers
results4.head()

0    0.129835
1    5.975085
2    2.407592
3    0.225122
4    0.125500
dtype: float64

In [48]:
results5 = stats['BirthRate']+stats['BirthRate']
results5

0      20.488
1      70.506
2      91.970
3      25.754
4      22.088
        ...
190    65.894
191    41.700
192    84.788
193    80.942
194    71.430
Name: BirthRate, Length: 195, dtype: float64

# ADD COLUMN

In [31]:
stats['MyDivition'] = stats.BirthRate / stats.InternetUsers 
stats

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup,MyDivition
0,Aruba,ABW,10.244,78.9,High income,0.129835
1,Afghanistan,AFG,35.253,5.9,Low income,5.975085
2,Angola,AGO,45.985,19.1,Upper middle income,2.407592
3,Albania,ALB,12.877,57.2,Upper middle income,0.225122
4,United Arab Emirates,ARE,11.044,88.0,High income,0.125500
...,...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income,1.647350
191,South Africa,ZAF,20.850,46.5,Upper middle income,0.448387
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income,19.270000
193,Zambia,ZMB,40.471,15.4,Lower middle income,2.627987
194,Zimbabwe,ZWE,35.715,18.5,Low income,1.930541

# REMOVING COLUMN

In [36]:
stats = stats.drop('MyDivition',axis = 1)
stats

,CountryName,CountryCode,BirthRate,InternetUsers,IncomeGroup
0,Aruba,ABW,10.244,78.9,High income
1,Afghanistan,AFG,35.253,5.9,Low income
2,Angola,AGO,45.985,19.1,Upper middle income
3,Albania,ALB,12.877,57.2,Upper middle income
4,United Arab Emirates,ARE,11.044,88.0,High income
...,...,...,...,...,...
190,"Yemen, Rep.",YEM,32.947,20.0,Lower middle income
191,South Africa,ZAF,20.850,46.5,Upper middle income
192,"Congo, Dem. Rep.",COD,42.394,2.2,Low income
193,Zambia,ZMB,40.471,15.4,Lower middle income
194,Zimbabwe,ZWE,35.715,18.5,Low income